@page "/Competency/{Id:int}"
@inject ICompetenciesRepo repo
<h3>Competency</h3>
<h4>@Competency?.Title</h4>
<p>@((MarkupString)Competency.Description)</p>

<h5>Exercises</h5>
@if(exercise == null)
{
    <p>No exercises found</p>
}
else
{
    <a class="btn btn-primary" href="exercise/@exercise.Id">Try exercise</a>
}
@* <ul>
    @foreach (Exercise exercise in Exercises)
    {
        <li><a href="exercise/@exercise.Id">@exercise.Title</a></li>
    }    
</ul> *@


@code {
    [Parameter]
    public int Id { get; set; }

    public Competency? Competency { get; set; }

    public List<Exercise> Exercises { get; set; } = new List<Exercise>();

    private Exercise? exercise;

    override protected void OnInitialized()
    {
        Competency = new Competency();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Competency = repo.GetCompetency(Id);
        exercise = repo.GetFirstExercise(Competency.Id);
    }
}
