@page "/Competency/{Id:int}"
@inject ICompetenciesRepo repo
<h3>Competency</h3>
<h4>@Competency.Title</h4>
<p>@Competency.Description</p>

<h5>Excercises</h5>
<ul>
    @foreach (Exercise exercise in Competency.Exercises)
    {
        <li><a href="exercise/@exercise.Id">@exercise.Title</a></li>
    }
</ul>


@code {
    [Parameter]
    public int Id { get; set; }

    public Competency? Competency { get; set; }

    override protected void OnInitialized()
    {
        Competency = new Competency();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Competency = repo.GetCompetency(Id);
    }
}
