@page "/"

<PageTitle>Index</PageTitle>

<h1>Code Practice</h1>
<p>
    Welcome to the Code Practice Page. This site will provide you problems you can use to practice writing code. The site is organized in codeing competencies. Each competency has multiple exercises you can use to practice coding that competency. 
</p>
<p>

Each exercise provides you a problem statement, what the desired output should look like and a place to upload your solution. You can then display the answer to see how close your code is to a working solution. We have you upload your solution before seeing the answer so you don't just read through the solution. The goal is for you to write code. If you get it wrong, no worries! Just try another exercise until you get three or more right. If you run out of exercises let us know and we will add more.
</p>
<p>

You get to chose how many exercises you need to achieve each competency! So pick a competency, try an exercise and keep working on exercises untill you understand the concepts.
</p>
