@page "/exercise/{id:int}"
@inject IExerciseRepo repo;

@if(exercise == null)
{
    <p><em>Loading...</em></p>
}
else{

    <h3>@exercise.Title</h3>

    <p>@exercise.Question</p>

    <p>@exercise.DesiredOutput</p>

    <p>@exercise.Answer</p>
}
@code {
    [Parameter]
    public int Id { get; set; }
    public Exercise? exercise { get; set; }
    string SubmittedFileName { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        exercise = repo.GetExercise(Id);
    }
}
